*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


#eclispe
target/*
.metadata/*

# CAS 
cas.log
perfStats.log

Servers/
.settings/
target/
RemoteSystemsTempFiles/


#Yii Framework
yii-1.1.17.467ff50/*
assets/



.recommenders/

cas-client-for
cas-yii-client
rebel.xml